<% content_for :title, "New fb group" %>

<div class="md:w-2/3 w-full">
  <h2 class="font-bold text-4xl">New fb group</h2>

  <%= render "form", fb_group: @fb_group %>

  <%= link_to "Back to fb groups", fb_groups_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
